@import "./variables";
@import "./default";
@import "./sections/header";
@import "./sections/cover";
@import "./sections/about";
@import "./sections/plans";
@import "./sections/advantages";
@import "./sections/testimonial";
@import "./sections/footer";

@include mobile() {
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: colors(full_bg);
  direction: rtl;
  font-family: $Ubuntu;

  h1 {
    font-family: "Cairo", sans-serif;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
    text-align: right;
    position: relative;
  }

  section {
    width: 100%;
  }

  .card {
    background: #fff;
    width: 800px;
    height: 160px;
    border-radius: 200px;
    position: relative;
    top: -80px;
    z-index: 3;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid #fdeeff;
    box-shadow: 0px 4px 8px #fbdcff;
  }
}
