@import "./variables";
@import "./default";
@import "./sections/header";
@import "./sections/cover";
@import "./sections/about";
@import "./sections/plans";
@import "./sections/advantages";
@import "./sections/testimonial";
@import "./sections/footer";

@include mobile() {
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: colors(full_bg);
  direction: rtl;

  h1 {
    font-family: "Cairo", sans-serif;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
    text-align: right;
    position: relative;
  }

  section {
    width: 100%;
  }
}
