section.about {
    display: block;
    padding-bottom: 40px;
    h1 {
        font-size: 34px;
        color: colors(sec);
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .flex-container {
        padding-bottom: 20px;
        .img {
            display: none;
            img {
                max-width: 100%;
            }
        }

        .item {
            display: flex;
            align-items: center;
            font-size: 24px;
            .icon {
                $size: 45px;
                width: $size;
                height: $size;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    font-size: 28px;
                    color: gold;
                }
            }
            &:nth-child(odd) span {
                color: #fff;
                filter: drop-shadow(0 0 10px #8103ff);
                animation: diamond_1 1s linear infinite;
            }
            &:nth-child(even) span {
                color: #fff;
                filter: drop-shadow(0 0 10px #ff0303);
                animation: diamond_2 1s linear infinite;
            }

            @keyframes diamond_1 {
                0% {
                    filter: drop-shadow(0 0 10px #ff0303);
                }
                100% {
                    filter: drop-shadow(0 0 10px #8103ff);
                }
            }
            @keyframes diamond_2 {
                0% {
                    filter: drop-shadow(0 0 10px #8103ff);
                }
                100% {
                    filter: drop-shadow(0 0 10px #ff0303);
                }
            }
        }
    }
    button {
        position: relative;
        padding: 10px 20px;
        font-size: 24px;
        margin: 0 auto;
        right: 50%;
        transform: translateX(50%);
        &.main-btn {
            background: $gradient;
            color: #fff;
        }
    }
    .card {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            max-width: 80px;
        }
    }
}
