section.advantages {
    display: block;
    margin-bottom: 80px;
    .flex-content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        gap: 40px;
    }

    .item {
        text-align: center;
        .icon span {
            font-size: 100px;
            color: colors(sec);
        }
        .label {
            font-weight: bolder;
            font-family: "Cairo", sans-serif;
        }
    }
}
