section.cover {
    $padding_left: 140px;
    width: 100%;
    height: 100vh;
    max-height: 650px;
    padding: 140px 140px 0 $padding_left;
    color: white;
    // background-image: url(../img/cover.jpg);
    // background-size: cover;
    position: relative;
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: #1c0d68;
        inset: 0;
        opacity: 0.8;
    }
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 140px;
        position: absolute;
        z-index: 2;
        background: url(../img/Vector\ 1.svg);
        background-size: cover;
        bottom: 0;
        left: 0;
    }

    .bg-slideShow_animation {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .front,
        .back {
            width: 100%;
            height: 100%;
            background-size: cover;
            position: absolute;
        }
    }

    .container {
        position: relative;
        z-index: 3;

        h1 {
            font-family: "Mulish", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            max-width: 800px;

            span {
                &.span1 {
                    background-image: url(../img/span1.svg);
                }
                &.span2 {
                    background-image: url(../img/span2.svg);
                    color: #000;
                }
            }
        }

        p {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
        }

        .buttons-container {
            display: flex;
            gap: 20px;
            margin-top: 40px;

            button {
                position: relative;
                padding: 10px 20px;
                font-size: 34px;
                &.main-btn {
                    background: gold;
                    color: #000;
                }
                &.more {
                    background: colors(sec);
                    color: #fff;
                }
            }
        }

        .icon-container {
            margin: 0 auto;
            margin-top: 40px;
            .object {
                display: flex;
                flex-direction: column;
                align-items: center;
                animation: scrollDownArrow 2s infinite;
                span {
                    &:first-child {
                        font-size: 45px;
                    }
                    &:nth-child(2) {
                        position: relative;
                        top: -4px;
                    }
                }
            }
        }
    }
}

@keyframes scrollDownArrow {
    0% {
        transform: translateY(-10px);
        opacity: 1;
    }
    50% {
        transform: translateY(0);
        opacity: 0.5;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}
