section.plans {
    padding-top: 100px;
    background-image: url(../img/istockphoto-469783940-612x612\ 1.png);
    background-size: cover;
    position: relative;
    max-height: 500px;
    margin-bottom: 300px;
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: colors(third);
        inset: 0;
        opacity: 0.2;
    }
    .flex-container {
        display: flex;
        justify-content: center;
    }

    .plan-item {
        width: 400px;
        height: fit-content;
        min-height: 600px;
        border-radius: 12px;
        margin: 25px;
        padding: 20px;
        position: relative;
        z-index: 3;
        background: #fff;
        border: 2px solid colors(third);
        h1 {
            text-align: center;
        }
        .price {
            background: colors(third);
            color: #fff;
            height: 100px;
            width: 320px;
            padding-right: 20px;
            border-radius: 0 20px 20px 0;
            position: relative;
            left: -60px;
            .money {
                font-size: 45px;
            }
            .duration {
                position: relative;
                left: -100px;
            }
        }
        .content {
            .item {
                display: flex;
                align-items: center;
                .icon {
                    $size: 60px;
                    width: $size;
                    height: $size;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: colors(third);
                }
                p {
                    font-size: 24px;
                }
            }
        }
        button {
            padding: 10px 20px;
            margin: 0 auto;
            position: relative;
            right: 50%;
            transform: translateX(50%);
            background: #fff;
            border: 2px solid colors(third);
            color: colors(third);
            transition: all linear 0.2s;

            &:hover {
                background: colors(third);
                color: #fff;
                box-shadow: 0px 0px 10px colors(third);
            }
        }
        .image-container {
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            height: 150px;
            img {
                width: 100%;
            }
        }
    }
}
